<section data-ng-controller="GrocerylistsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Groceries List</h1>
        <a ng-href="/#!/grocerylists/create"><button class="btn btn-success" data-ng-href="/#!/grocerylists/create">Add <span class="glyphicon glyphicon-plus"></span></button></a>
    </div>
    <div class="list-group">
        <a data-ng-repeat="grocerylist in grocerylists" data-ng-href="#!/grocerylists/{{grocerylist._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="grocerylist.name"></h4>
            <p class="list-group-item-text">Quantity: {{grocerylist.quantity}}</p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!grocerylists.$resolved || grocerylists.length">
    	No Grocerylists yet, why don't you <a href="/#!/grocerylists/create">create one</a>?
    </div>
</section>
